// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: rgb(150, 148, 148);
}
.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.movies-label{
  width: 120px;
  position: absolute;
  top:80px;
  right:50px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: darkred;
  color: white;
  text-align:center;
  padding: 8px 12px;
  opacity:0.6;
  font-weight: bold;
  transition: 0.2s;
}

.movies-label:hover{
    opacity: 1;
}

.review{
  margin-top: 20px;
}
